:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --decorative-element-color: #353430;
  --menu-button-color: #353430;
  --menu-botton-color-hover: rgb(50 49 45 / 0.4);
  --text-color-title: #ffc2e6;
  --text-color-title-shadow: #ff8dcb;
  --text-color-title-content: #353430;
  --bg-color-title-block: #ff8dcb;
  --text-color-title-block: #353430;
  --text-color-block: #353430;
}

.theme-light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --decorative-element-color: #353430;
    --menu-button-color: #353430;
    --menu-botton-color-hover: rgb(50 49 45 / 0.4);
    --text-color-title: #ffc2e6;
    --text-color-title-shadow: #ff8dcb;
    --text-color-title-content: #353430;
    --bg-color-title-block: #ff8dcb;
    --text-color-title-block: #353430;
    --text-color-block: #353430;
  }

  .decorated-element {
    display: none;
  }
}
