:root.theme-light {
  --main-bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --background-image: url("../images/cover-image-light.png");
  --bg-color: var(--main-bg-color);
  --bg-image: var(--background-image);
  --decorative-element-color: #353430;
  --menu-button-color: #353430;
  --menu-botton-color-hover: rgb(50 49 45 / 0.4);
  --text-color-title: var(--title-color);
  --text-color-title-shadow: var(--accent-color);
  --text-color-title-content: #353430;
  --bg-color-title-block: var(--accent-color);
  --text-color-title-block: #353430;
  --text-color-block: var(--text-color);
}

.theme-light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --background-image: url("../images/cover-image-light.png");
  }
}
